/*------------ GENERAL STYLING ---------------*/
body, html {
	height: 100%;
	margin: 0;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	line-height: 1.8em;
	color: #2A363B;
	background-color: ;
}

ul, li {
	list-style: none;
	display: inline-block;
	margin: 0;
	padding: 0;
	text-decoration: none;
	text-align: center;
}

a, a:visited, a:active {
	text-decoration: none;
	color: #000;
	opacity: 0.6;
}

a:hover {
	color: #;
	opacity:1;
}

div {
	display: block;
}

/*------------ BASIC LAYOUT ---------------*/
.container {
	margin: 0 auto;
	padding-top: 70px;
}

.flex {
	display: flex;
}

section {
	padding: 6rem 0;
}
.section-container {
	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.section-header {
	font-size: 30px;
	display: block;
	text-align: center;
}
.header-underline {
	width: 40%;
}

/*------------ COMPONENTS ---------------*/

/*--- HEADER ---*/
header {
	position: fixed;
	top: 0;
	transition: top 0.2s ease-in-out;
	width: 100%;
	height: 70px;
	font-size: 14px;
	font-weight: ;
	letter-spacing: 1px;
	text-align: center;
	z-index: 99999;
	background-color: #E9E0DA;
}
.header-title {
	display: block;
	color: #E84A5F;
	border-box: ;
}
.header-sub-title {
	text-transform: none;
	letter-spacing: 1px;
	font-size: 22px;
}
.nav-up {
  top: -70px; /* same as header height */
}
.navbar {
	padding-top: ;
}
.navbar .navbar-brand {
	float: left;
	padding-left: 6rem;
}
.navbar .logo {
	min-width: auto;
	max-height: 70px;
}
.navbar ul {
	float: right;
	padding-top: 10px;
}
.navbar ul li {
    padding: 10px 10px;
}

.navbar ul li a {
	border-bottom: 1px solid #fff;
	padding: 5px 20px;
	text-transform: uppercase;
}

/*--- MASTHEAD ---*/
.masthead {
	min-height: 100vh;
	background-color: #E9E0DA;
	/*background-image: url('../img/mandala.png');
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;*/
}
.masthead {
	font-size: 30px;
	line-height: 2em;
}
.masthead {
	text-align:center;
}
.masthead .flex {
	justify-content: center;
	align-items: center;
}
/*--- ABOUT ---*/
#about {
	padding: 100px;
	min-height: 400px;
}
#about .section-text {
	padding: 0 100px;
}

/*--- WORK ---*/
#work {
	padding: 100px;
}
#work .flex {
	flex-direction: row;
	x-justify-content: space-around;
    x-align-items: stretch;
    /*max-width: 1200px;*/
	justify-content: center;
	
	padding: 10px;
}
#work .flex > * {
	margin: 10px;
	background-color: #f2f2f2;
}
#work .flex {
	padding: 50px;
	width: auto;
}
#work .flex img {
	max-width: 100%;
	height: 300px;
}

.portfolio-item:hover, .portfolio-item:focus {
	cursor: pointer;
}

.portfolio-item {
	text-align: center;
	width: 33.3%;
	padding: 10px;
}

/*--- CONTACT ---*/
#contact {
	padding: 100px;
	text-align: center;
	background-color: #E9E0DA;
}

/*--- FOOTER ---*/
footer {
	padding: ;
	text-align: center;
	background-color: #5D6F7F;
	min-height: 100px;
	color: #ffffff;
}

/*--- PORTFOLIO MODALS ---*/
.portfolio-modals {
	display: none;
	position: fixed;
	z-index: 1; /*the order of elements, the higher the z-index the more upfront its going to be*/
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	/*overflow: auto; /*enable scroll bar if needed*/
	background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
	background-color: #f4f4f4;
	margin: 8% auto;
	width: 50%; /* can set to fixed width, ex: 400px*/
	padding: 20px;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);

	animation-name: modalopen;
	animation-duration: 1s;
}

.modal-content-left {
	float:;
	text-align: center;
}
.modal-content-left img {
	max-width: 400px;
	margin: 0 auto;
}
.modal-content-right {
	
}
.modal-footer {
	padding: 10px;
}
.closeBtn {
	color: #000;
	float: right;
	font-size: 30px;
}
.closeBtn:hover, .closeBtn:focus {
	color: #70C2C5;
	text-decoration: none;
	cursor: pointer;
}

@keyframes modalopen {
	from { opacity: 0 }
	to { opacity: 1 }
	
}